a.ottawacitizen_com {
	background: url(../images/favicons/ottawacitizen_com.gif) no-repeat;
	padding: 0 0 0 20px;
}

a.ottawasun_com {
	background: url(../images/favicons/ottawasun_com.gif) no-repeat;
	padding: 0 0 0 20px;
}

a.cbc_ca {
	background: url(../images/favicons/cbc_ca.gif) no-repeat;
	padding: 0 0 0 20px;
}

a.ctv_ca {
	background: url(../images/favicons/ctv_ca.gif) no-repeat;
	padding: 0 0 0 20px;
}

a.theglobeandmail_com {
	background: url(../images/favicons/theglobeandmail_com.gif) no-repeat;
	padding: 0 0 0 20px;
}

a.metronews_ca {
	background: url(../images/favicons/metronews_ca.gif) no-repeat;
	padding: 0 0 0 20px;
}