#columns {
	display: block;
	position: relative;
	margin: 14px 0 0 0;
}

#left_column {
	width: 620px;
	float: left;
}

#right_column {
	float: left;
}

#representatives {
	width: 100%;
	border-spacing: 0;
}

#representatives th {
	border-bottom: 1px solid #ccc;
	background: #eee;
	padding: 4px;
	text-align: bottom;
}

#representatives td {
	border-bottom: 1px dotted #ccc;
	padding: 4px;
}

.map {
	width: 309px;
	margin: 0 0 20px 10px;
}

.map p {
	margin: 4px 0;
	font-weight: bold;
}

#location {
	float: right;
	margin: 26px 0 0 0;
}

#location strong {
	margin: 2px 10px 0 0;
	font-size: 16pt;
	float: left;
}

h2 {
	position: relative;
}

a.rss {
	position: absolute;
	bottom: 4px;
	right: 0px;
}

a.rss img {
	border: 0px;
}