<div id="footer">
	<div class="container">
		Created by <%= link_to 'Shawn Simister', 'http://shawn.simister.ca', {:target => '_blank'} %>.
		Powered by <%= link_to 'Open Data', 'http://opendataottawa.ca', {:target => '_blank'} %>.
	</div>
</div>